@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Saved";
}

<body>
    <div class="recipes">
        <p>
        @{
            foreach (var item in ViewData["RecipeList"] as List<Recipe>)
            {
                <div class="recipeBox">



                    <div class="recipeBoxHeader">

                        <img src="/Pictures/pfp.png" class="recipeAuthor" />

                            <form asp-controller="Secrets" asp-action="LikeRecipe">
                            <button class="likeButton" type="submit" name="like"><img src="/Pictures/likeButton.png" /></button>
                            <input type="hidden" name="id" value="@item.id">
                        </form>

                        <div class="likes">@item.likes</div>

                            <form asp-controller="Secrets" asp-action="SaveRecipe">
                            <button class="saveButton" type="submit" name="save"><img src="/Pictures/saveButton.png" /></button>
                            <input type="hidden" name="id" value="@item.id">
                        </form>

                        <h1>@item.name</h1>

                        <img src="/Pictures/foodImage.png" class="recipeImage" />

                        <p>@item.description</p>
                    </div>

                    @{
                        if (@item.ingredientsList.Count > 0)
                        {
                            <h2>Ingredients</h2>
                            <ul>
                                @{
                                    foreach (var ingredient in item.ingredientsList as List<string>)
                                    {
                                        <li>@ingredient</li>
                                    }
                                }
                            </ul>
                        }
                    }

                    <h2>Steps</h2>
                    <p>@item.instructions</p>

                </div>
            }}
        </p>
    </div>
</body>