@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css~/css/site.css" asp-append-version="true" />


<body>

<div class="text-center">
    <H1> Please log to use our services</H1>
</div>

</body>




@*@{
    foreach (var item in ViewData["RecipeList"] as List<Recipe>)
    {
        <div class="recipeBox">



            <div class="recipeBoxHeader">

                <img src="/Pictures/pfp.png" class="recipeAuthor" />

                <form asp-controller="Home" asp-action="LikeRecipe">
                    <button class="likeButton" type="submit" name="like"><img src="/Pictures/likeButton.png" /></button>
                    <input type="hidden" name="id" value="@item.id">
                </form>

                <div class="likes">@item.likes</div>

                <form asp-controller="Home" asp-action="SaveRecipe">
                    <button class="saveButton" type="submit" name="save"><img src="/Pictures/saveButton.png" /></button>
                    <input type="hidden" name="id" value="@item.id">
                </form>

                <h1>@item.name</h1>

                <img src="/Pictures/foodImage.png" class="recipeImage" />

                <p>@item.description</p>
            </div>

            @{
                if (@item.ingredientsList.Count > 0)
                {
                    <h2>Ingredients</h2>
                    <ul>
                        @{
                            foreach (var ingredient in item.ingredientsList as List<string>)
                            {
                                <li>@ingredient</li>
                            }
                        }
                    </ul>
                }
            }

            <h2>Steps</h2>
            <p>@item.instructions</p>

        </div>
    }
}  *@